*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 1em;
    border-radius: 5px;
    border: transparent;
}

button:hover{
    background-color: #000;
    color: #fff;
}

.calculadora{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.5em;
}

.display{
    text-align: end;
    margin-bottom: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.5em;
}

.calculadora .botones{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.botones > div{
    display: flex;
    gap: 5px;
}